.header h1 {
    padding: 20px;
    margin: 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(55, 55, 118);
    color: #fff
}

.header{
  
    margin: 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
    background-color: rgb(55, 55, 118);
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.header-info{
    color:#fff;
}